---
layout: default
contact:
   - icon: fa-solid fa-bed
     description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex blanditiis nihil impedit magni consequatur, hic nam quibusdam corporis,quisquam repudiandae ipsam exercitationem totam, ea omnis cupiditate obcaecati! Eaque, harum.
   - icon: fa-solid fa-sun
     description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex blanditiis nihil impedit magni consequatur, hic nam quibusdam corporis, quisquam repudiandae ipsam exercitationem totam, ea omnis cupiditate obcaecati! Eaque, harum.
   - icon: fa-regular fa-moon
     description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex blanditiis nihil impedit magni consequatur, hic nam quibusdam corporis, quisquam repudiandae ipsam exercitationem totam, ea omnis cupiditate obcaecati! Eaque, harum.
---


<!---------- nav header section ---------->   


    <!---------- header section ---------->
    <section class="padded grid text-center tall-60 opening-section">
        <div class="col-12-middle">
            <h3 class="font-weight-extra-bold editable">
              why <span class="feat-text"> wait?</span>
            </h3>
            <h1 class="font-weight-normal editable"> call us today for a free consultation </h1>
        </div>
    </section>

    <!---------- contact section ---------->
    <section class="bg-dark light-text grid padded">
      <div class="col-6_sm-12 padded">
        <h2> let's <span class="feat-text">connect</span> </h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat sit minima similique commodi numquam eius porro beatae, cum delectus perferendis, consequatur culpa nisi. Unde rerum eos inventore repellendus mollitia numquam! </p>
      </div>
      <div class="col-6_sm-12 padded">
        <form>
          <input type="text" name="_name" placeholder="Your Name">
          <input type="email" name="_replyto" placeholder="Your Email">
          <textarea name="message" placeholder="Tell us what you want..." rows="2"></textarea>
          <button class="button" type="submit">SUBMIT</button>
        </form>
      </div>
    </section>

    <!---------- gallert/grid section ---------->
    <section class="grid padded">
      <div class="bg-image bg-pug col-6_sm-12 tall-70">
          <!-- background image sleeping pug -->
      </div>
      <div class="col-6_sm-12-middle padded editable">
          <h2> so <span class="feat-text">soft</span> you'll melt </h2>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae harum, porro totam qui necessitatibus ut temporibus amet dolorum unde provident sequi expedita saepe reiciendis praesentium earum quam esse sit! Voluptatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, consequatur quos adipisci iusto temporibus qui soluta id laborum ipsum quas debitis at velit cum, architecto in sint non, illo quisquam. </p>
      </div>
    </section>

    <!---------- features icon section  ---------->
    <section class="grid-center padded bg-light sm-text-center">
      <div class="col-12 padded-sm text-center"> 
          <h2> need help deciding? </h2>
      </div>

      {% for item in page.contact %}

      <div class="col-3_sm-12 padded-sm">
          <i class="{{item.icon}}"></i>
          <p>{{item.description}}</p>
      </div>
  
      {% endfor %}

    </section>

    <!---------- testemonial section  ---------->
    <section class="grid padded-lg">
      <div class="col-1 text-right">
          <span class="quote-icon">“</span>
      </div>
      <div class="col-10 text-center">
          <p class="medium-text font-weight-light"> I've never experienced sleep like this. OMG i really love this mattress I want to buy one for every member of my family </p>
          <p class="subtitle"> - A very happy customer </p>
      </div>
      <div class="col-1">
          <span class="quote-icon">”</span>
      </div>
    </section>

    <!---------- footer footer footer  ---------->
    
    {% include contact-footer.html %}

