---
layout: default
gallery:
 -  col-size: col-12
    aspect: landscape-wide
    background-image: /img/the-sleep-co-new-2.jpg
 -  col-size: col-4
    aspect: square
    background-image: /img/the-sleep-co-new-1.jpg
 -  col-size: col-4
    aspect: square
    background-image: /img/the-sleep-co-new-3.jpg
 -  col-size: col-4
    aspect: square
    background-image: /img/the-sleep-co-new-4.jpg
 -  col-size: col-6
    aspect: portrait
    background-image: /img/the-sleep-co-new-1.jpg
 -  col-size: col-6
    aspect: portrait
    background-image: /img/the-sleep-co-new-3.jpg
 -  col-size: col-12
    aspect: landscape-wide
    background-image: /img/the-sleep-co-new-4.jpg
 -  col-size: col-12
    aspect: landscape-wide
    background-image: /img/the-sleep-co-new-2.jpg
---

    <!---------- header section ---------->
    <section class="padded grid text-center tall-60 opening-section">
        <div class="col-12-middle">
            <h3 class="font-weight-extra-bold editable">
                Welcome to dream <span class="feat-text"> heaven </span>
            </h3>
            <h1 class="font-weight-normal editable"> the perfect mattress for your family </h1>
        </div>
    </section>


    <!--------------- galler section --------------->
    <section class="padded">
        <div class="grid gallery">

            {% for item in page.gallery %}

            <div class="{{item.col-size}}">
                <div class="bg-image {{item.aspect}}"
                style="background-image: url('{{item.background-image}}');">
                </div>
            </div>

            {% endfor %}

 
          
          </div>
    </section>

                <!-- --- ADVANCED --->
                <!-- <div class="col-4">
                    <div class="bg-image portrait-a bg-image-6 "> </div>
                  </div>
                  <div class="col-8">
                    <div class="bg-image landscape bg-image-7 "> </div>
                  </div> -->
                  <!----- end ADVANCED ----->
                
                  <!-- <div class="col-12">
                    <div class="bg-image landscape-wide bg-image-1"></div>
                  </div>
                  <div class="col-4_xs-12">
                    <div class="bg-image square bg-image-2"></div>
                  </div>
                  <div class="col-4_xs-12">
                    <div class="bg-image square bg-image-3"></div>
                  </div>
                  <div class="col-4_xs-12">
                    <div class="bg-image square bg-image-4 "></div>
                  </div>
                  <div class="col-6">
                    <div class="bg-image portrait bg-image-5"></div>
                  </div>
                  <div class="col-6">
                    <div class="bg-image portrait bg-image-6 "></div>
                  </div>
                  <div class="col-12">
                    <div class="bg-image landscape-wide bg-image-8 "></div>
                  </div>
                  <div class="col-12">
                    <div class="bg-image landscape-wide bg-image-7 bg-pos-b-r"></div>
                  </div>  -->

    {% include standard-footer.html %}