---
layout: default
featured:
   - icon: fa-solid fa-bed
     description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex blanditiis nihil impedit magni consequatur, hic nam quibusdam corporis,quisquam repudiandae ipsam exercitationem totam, ea omnis cupiditate obcaecati! Eaque, harum.
   - icon: fa-solid fa-sun
     description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex blanditiis nihil impedit magni consequatur, hic nam quibusdam corporis, quisquam repudiandae ipsam exercitationem totam, ea omnis cupiditate obcaecati! Eaque, harum.
   - icon: fa-regular fa-moon
     description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex blanditiis nihil impedit magni consequatur, hic nam quibusdam corporis, quisquam repudiandae ipsam exercitationem totam, ea omnis cupiditate obcaecati! Eaque, harum.
   - icon: fa-solid fa-cloud
     description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex blanditiis nihil impedit magni consequatur, hic nam quibusdam corporis, quisquam repudiandae ipsam exercitationem totam, ea omnis cupiditate ßobcaecati! Eaque, harum.
---
<!---------- nav header section ---------->  


    <!---------- opening section ---------->
    <section class="padded grid text-center tall-100 md-tall-80 opening-section">
        <div class="col-12-middle">
            <h3 class="font-weight-extra-bold editable">
                <span class="feat-text">sleep</span> like a baby
            </h3>
            <h1 class="font-weight-normal editable"> the ultimate mattress solution </h1>
        </div>
    </section>

    <!---------- image column section ---------->
    <section class="grid">
        <div class="col-6_sm-12-middle padded">
            <h2 class="editable"> built to last a <span class="feat-text">lifetime</span> </h2>
            <p class="editable"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est, consectetur voluptates! Itaque commodi a veritatis laborum sequi molestiae, facere nisi similique perspiciatis ab et fugit maxime quibusdam, cum iusto? Facere. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, est aperiam expedita in, dolorum et laudantium alias quod veritatis non iure accusamus cumque, inventore molestiae corporis numquam beatae. Voluptatum, quam. </p> 
            <p class="editable"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ex itaque at expedita voluptas repudiandae eveniet quis, fuga maiores nesciunt incidunt? Atque enim facilis voluptas eaque dolore iste maxime aut!</p>
        </div>
        <div class="bg-image bg-lamp col-6_sm-12 tall-70 hide-sm">
            <!-- background image bed -->
        </div>
        <div class="bg-image bg-pug col-6_sm-12 tall-70">
            <!-- background image sleeping pug -->
        </div>
        <div class="col-6_sm-12-middle padded editable">
            <h2> so <span class="feat-text">soft</span> you'll melt </h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae harum, porro totam qui necessitatibus ut temporibus amet dolorum unde provident sequi expedita saepe reiciendis praesentium earum quam esse sit! Voluptatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, consequatur quos adipisci iusto temporibus qui soluta id laborum ipsum quas debitis at velit cum, architecto in sint non, illo quisquam. </p>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid accusantium, recusandae incidunt error suscipit aut laboriosam nam consequatur magni doloremque quam expedita! Iusto, eum facilis numquam ut nemo repellat eos. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio dignissimos iure repellat impedit, ex esse, amet pariatur possimus corrupti iusto provident, optio eligendi delectus quia quae architecto? Laboriosam, tenetur asperiores.</p>
        </div>
    </section>

    <!---------- features icon grid  ---------->
    <section class="grid-center padded bg-dark">
        <div class="col-12 padded-sm text-center"> 
            <h2> <span class="feat-text">features</span> you will love </h2>
        </div>

        {% for item in page.featured %}

        <div class="col-3_sm-6 xxs-stack padded-sm">
            <i class="{{item.icon}}"></i>
            <p>{{item.description}}</p>
        </div>

        {% endfor %}

    </section>

    <!---------- image banner  ---------->
    <section class="padded text-center bg-image bg-yellow tall-70 grid">
        <div class="col-12-middle">
            <h3 class="big-text">
                <span class="small-text font-weight-normal"> never underestimate the power of </span> 
                <br /> a good night <span class="white-text">sleep</span>
            </h3>
        </div>
    </section>

    <!---------- testemonial section  ---------->
    <section class="grid padded-lg">
        <div class="col-1 text-right">
            <span class="quote-icon">“</span>
        </div>
        <div class="col-10 text-center">
            <p class="medium-text font-weight-light"> I've never experienced sleep like this. OMG i really love this mattress I want to buy one for every member of my family </p>
            <p class="subtitle"> - A very happy customer </p>
        </div>
        <div class="col-1 text-left">
            <span class="quote-icon">”</span>
        </div>
    </section>

    {% include standard-footer.html %}
