---
layout: default
icon:
 - heading: We Know
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio facere necessitatibus illum.
 - heading: What You
   description: Maxime soluta voluptatum fugit quaerat ab nostrum, necessitatibus nisi?
 - heading: Really Want
   description: Corporis optio eaque, fugiat asperiores quam doloribus dignissimos accusamus quas hic ad cumque qui ratione beatae harum delectus.   
 - heading: In Bed
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, veniam doloribus numquam.
card:
 - heading: Standard
   featured_image: /img/the-sleep-co-new-3.jpg
   description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus quia sed illo consequatur voluptatem totam est, nemo molestias, labore aliquid consectetur iusto odio fuga doloremque fugit sit. Expedita, beatae id.
 - heading: Gold 
   featured_image: /img/the-sleep-co-new-2.jpg
   description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime soluta voluptatum fugit quaerat ab nostrum, necessitatibus nisi? Adipisci cupiditate delectus fuga nam officiis libero dicta numquam ab quo. Vitae, voluptate.
 - heading: Platinum
   featured_image: /img/the-sleep-co-new-1.jpg
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio facere necessitatibus illum. Corporis optio eaque, fugiat asperiores quam doloribus dignissimos accusamus quas hic ad cumque qui ratione beatae harum delectus.
---

<!---------- nav header section ---------->    
  
    <!---------- header section ---------->
    <section class="padded grid text-center tall-60 opening-section">
        <div class="col-12-middle">
            <h3 class="font-weight-extra-bold editable">
               <span class="feat-text"> addictevly </span> soft
            </h3>
            <h1 class="font-weight-normal editable"> just stay in bed for the whole weekend </h1>
        </div>
    </section>

    <!---------- features icon section  ---------->
    <section class="grid padded bg-light xs-text-center">

      <div class="col-12 padded-sm text-center"> 
          <h2> <span class="white-text">features</span> you will love </h2>
      </div>

      {% for item in page.icon %}
      <div class="col-3_xs-6 xxs-stack padded-sm">
          <h3> {{item.heading}} </h3>
          <p> {{item.description}} </p>
      </div>

      {% endfor %}
  
    </section>

    <!-- cards section -->
    <section class="grid padded">

      {% for item in page.card %}

      <div class="col-4_sm-12 padded-sm">
        <div class="card">
          <div class="bg-image portrait" style="background-image: url('{{item.featured_image}}')"></div>
          <div class="padded-1">
            <h3> {{ item.heading }} </h3>
            <p> {{ item.description }} </p>
          </div>
        </div>
      </div>

      {% endfor %}

    </section>

    <!---------- image banner  ---------->
    <section class="padded text-center bg-dark tall-70 grid">
      <div class="col-12-middle">
          <h3 class="big-text">
              <span class="small-text font-weight-normal"> spend over 150$ and get </span> 
              <br/><span class="feat-text">free</span> extress shipping
          </h3>
      </div>
    </section>

      <!---------- image column section ---------->
    <section class="grid">
        <div class="col-6_sm-12-middle padded">
            <h2 class="editable"> built to last a <span class="feat-text">lifetime</span> </h2>
            <p class="editable"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est, consectetur voluptates! Itaque commodi a veritatis laborum sequi molestiae, facere nisi similique perspiciatis ab et fugit maxime quibusdam, cum iusto? Facere. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, est aperiam expedita in, dolorum et laudantium alias quod veritatis non iure accusamus cumque, inventore molestiae corporis numquam beatae. Voluptatum, quam. </p> 
            <p class="editable"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ex itaque at expedita voluptas repudiandae eveniet quis, fuga maiores nesciunt incidunt? Atque enim facilis voluptas eaque dolore iste maxime aut!</p>
        </div>
        <div class="bg-image bg-lamp col-6_sm-12 tall-70 hide-sm">
            <!-- background image bed -->
        </div>
        <div class="bg-image bg-pug col-6 tall-70 hide-sm">
            <!-- background image sleeping pug -->
        </div>
        <div class="col-6-middle padded editable hide-sm">
            <h2> so <span class="feat-text">soft</span> you'll melt </h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae harum, porro totam qui necessitatibus ut temporibus amet dolorum unde provident sequi expedita saepe reiciendis praesentium earum quam esse sit! Voluptatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, consequatur quos adipisci iusto temporibus qui soluta id laborum ipsum quas debitis at velit cum, architecto in sint non, illo quisquam. </p>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid accusantium, recusandae incidunt error suscipit aut laboriosam nam consequatur magni doloremque quam expedita! Iusto, eum facilis numquam ut nemo repellat eos. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio dignissimos iure repellat impedit, ex esse, amet pariatur possimus corrupti iusto provident, optio eligendi delectus quia quae architecto? Laboriosam, tenetur asperiores.</p>
        </div>
        <div class="col-6-middle padded hide-sm">
          <h2 class="editable"> built to last a <span class="feat-text">lifetime</span> </h2>
          <p class="editable"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est, consectetur voluptates! Itaque commodi a veritatis laborum sequi molestiae, facere nisi similique perspiciatis ab et fugit maxime quibusdam, cum iusto? Facere. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, est aperiam expedita in, dolorum et laudantium alias quod veritatis non iure accusamus cumque, inventore molestiae corporis numquam beatae. Voluptatum, quam. </p> 
          <p class="editable"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ex itaque at expedita voluptas repudiandae eveniet quis, fuga maiores nesciunt incidunt? Atque enim facilis voluptas eaque dolore iste maxime aut!</p>
        </div>
        <div class="bg-image bg-lamp col-6 tall-70 hide-sm">
          <!-- background image bed -->
        </div>
    </section>


      <!---------- footer footer footer  ---------->

      {% include standard-footer.html %}