    <!---------- footer footer footer  ---------->
    <footer class="grid-spaceBetween padded bg-dark">
        <div class="col-4_xs-12-bottom">
            <h2> let's <br /> <span class="feat-text">connect</span> </h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, nemo. Hic totam fugit dolorem, debitis, cumque quae atque, officia reiciendis facilis impedit animi voluptatibus. At voluptas quaerat esse quae quam.</p>
  
        </div>
        <div class="col-5_xs-12-bottom">
            <p> <span class="font-weight-extra-bold">Call:</span> <a href="tel:#"> 454 98 1 99</a> </p>
            <p> <span class="font-weight-extra-bold">Mail:</span> <a href="mailto:#"> jimmy.pennanen@hotmail.com</a> </p>
            <p> <span class="font-weight-extra-bold">Store:</span> <a href="#"> 5th avenu NYC</a> </p>
            <p> <span class="font-weight-extra-bold">Instagram:</span> <a href="#"> SleepInNYC</a> </p>
        </div>
      </footer>