<header class="grid-middle bg-feat">
    <div class="col-5_sm-11 padded-0">
      <a href="index.html" class="logo">
        <h2 class="margin-b-0"> LOGO </h2>
      </a>  
    </div>
  
    <nav class="col-7_sm-12 text-right padded-0 hide-sm sm-text-center">
        <a href="index.html"> Home </a>
        <a href="about.html"> About </a>
        <a href="products.html"> Products </a>
        <a href="contact.html" class="nav-button"> Contact </a>
    </nav>

    <div class="col-1 show-sm">
        <div class="hamburger-button"> 
          <i class="fa-solid fa-bars"></i>
        </div>
    </div>

</header> 

<nav class="mobile-meny">
    <a href="index.html"> Home </a>
    <a href="about.html"> About </a>
    <a href="products.html"> Products </a>
    <a href="contact.html"> Contact </a>
</nav>
