    <!---------- footer footer footer  ---------->
    <footer class="grid-center padded padded-b-1 bg-dark text-center font-weight-extra-bold">
        <div class="col-8">
            <h2>THE SLEEP CO</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, nemo. Hic totam fugit dolorem, debitis, cumque quae atque, officia reiciendis facilis impedit animi voluptatibus. At voluptas quaerat esse quae quam.</p>
        </div>
        <div class="col-12">
             <a href="#"> <i class="fa-brands fa-instagram"> </i> </a>
             <a href="#"> <i class="fa-brands fa-twitter"> </i> </a> 
             <a href="#"> <i class="fa-brands fa-facebook-f"> </i> </a>
        </div>
    </footer>