<!DOCTYPE html>
<html>
<!------- stylesheet and external -------->
<head> 

    <title> the sleep co </title>
    <!-- fontawsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- gridlex -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css" />

    <!-- viewport meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- google fonts - catamaran -(200 400 500 800) -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400;500;800&display=swap" rel="stylesheet" /> 

    <!-- animate on scroll css -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- our own stylesheet. allways last in head -->
    <link rel="stylesheet" href="style.css" />
</head>
<body>

    {{content}}

    <!----------------------------------- script tags  ----------------------------------->
    <!-- add jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- animate on scroll JS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  
    <!-- custom javascript -->
    <script src="script.js"></script>

     <!----------------------------------- end script tags  ----------------------------------->

</body>
</html>