<!DOCTYPE html>
<html>
<!------- stylesheet and external -------->
<head> 

{% include head.html %}

</head>
<body>
   
{% include header-nav.html %}

{{content}}


<!-- footer footer footer -->
{% if page.my_variable %}

  {% include {{ page.my_variable }} %}

{% else %}

    {% include standard-footer.html %}

{% endif %}

    <!----------------------------------- script tags  ----------------------------------->

{% include body-scripts.html %}

     <!----------------------------------- end script tags  ----------------------------------->

</body>
</html>